<% layout('layouts/front-page') %>

<div class="container-fluid container-fluid-custom py-md-5 mb-5">
    <main>
        <div class="row py-md-5 text-center justify-content-center">
            <div class="col-md-12 col-lg-6 mb-6 md-0 ml-auto">
                
                <h1 class="display-2 fw-bold mb-4 position-relative home-title">Write down thoughts as they come to you.</h1>
            </div>
            <p class="fs-4 mb-4">
                Notes is a free note taking app.
            </p>
            <a href="/dashboard" class="btn btn-primary col-3">Try Notes, It's Free!</a>
        </div>
    </main>
</div>